html {
    font-family: monospace;
    font-size: 24px;
    letter-spacing: 0.03125em;
    overflow-y: scroll;
}
.content {
    margin: 0 auto;
    max-width: 480px;
}
h1 {
    font-size: 0.75em;
    text-align: center;
}
input[name="query"] {
    border: 0.09375em solid black;
    border-radius: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 0.125em;
    padding: 0.25em;
    width: 100%;
}
input:focus {
    outline: none;
}
.input-help {
    font-size: 0.5em;
    line-height: 1.3;
    max-height: 3em;
    margin: 0.25em 0 0;
    transition: opacity 120ms ease, margin 120ms ease, max-height 120ms ease;
}
#query:not(:placeholder-shown) + .input-help {
    max-height: 0;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}
p {
    margin: 0.5em;
}
.word {
    font-size: 0.75em;
    margin: 0.125em;
}
a.word:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a.word:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
